/* Cores: #B3B3B3, #DAA520, #00120B, #002919, #550527 */
* {
    background-color: #00120B;
    margin: 0;
    list-style: none;
    /* font-style: ; */
    text-decoration: none;
}
/* titulo */
h1 {
    position: relative;
    top: 120px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: #DAA520;
    background-color: #550527;
    padding: 1rem;
    border-radius: 0 0 40px 40px ;
    border: 1px solid #B3B3B3;
}
/* IMAGENS */
.carrossel {
    top: 100px;
    width: 50%; 
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
    border: #B3B3B3 5px solid;
    height: 500px;
  }
  

  .containerCarrossel {
    position: absolute; /* permite o posicionamento absoluto das imagens dentro do contêiner */
    width: 100%; /* largura do contêiner */
    height: 100%; /* altura do contêiner */
  }
  
  .itemCarrossel {
    position: absolute; /* permite a sobreposição das imagens */
    width: 100%; /* largura das imagens */
    height: 100%; /* altura das imagens */
    opacity: 0; /* todas as imagens invisíveis por padrão */
    transition: opacity 0.5s ease; /* transição suave para o efeito de fade */
  }
  
  .itemCarrossel.selecionado {
    opacity: 1; /* imagem ativa visível */
  }
  
  .botaoCarrossel {
    position: absolute;
    top: 50%; /* alinhar os botões verticalmente ao centro */
    transform: translateY(-50%); /* ajustar para o centro vertical */
    background: #550527 ;
    color: #DAA520;
    padding: 10px; /* espaçamento interno dos botões */
    border: 1px solid #B3B3B3; /* remover bordas dos botões */
    cursor: pointer; /* cursor como ponteiro ao passar sobre os botões */
    border-radius: 999px;
    font-size: 4rem;
  }
  
  .anterior {
    left: 15vw; /* posicionar o botão de navegação à esquerda */
  }
  
  .proximo {
    right: 15vw; /* posicionar o botão de navegação à direita */
  }
  /* FIM IMAGENS */
  /* TEXTO */

  p {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: #DAA520;
    font-size: 1.5rem;
    text-align: center;
  }